.popup-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  position: absolute;
  top: 20px;
  z-index: 9999;
  width: 90%;
  max-width: 600px;
  padding: 5px;
  margin: auto;
  border: 1px solid rgb(187, 187, 187);
  background: rgb(255, 255, 255);

  .top {
    position: absolute;
    top: 28px;
    right: 20px;
  }
}

.popup-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    input {
      width: 300px;
      margin-top: 5px;
    }

    textarea {
      width: 300px;
      max-width: 550px;
      margin-top: 5px;
    }
  }
}