table {
  width: 100%;
  border-spacing: 5px;

  thead {
    tr th {
      position: relative;
      border:  1px solid black;

      &:nth-child(1) {
        width: 250px;
      }

      &:nth-child(2) {
        width: 350px;
      }

      &:nth-child(3) {
        width: auto;
      }

      &:nth-child(4) {
        width: 150px;
      }

      &:nth-child(5) {
        width: 100px;
      }

      button {
        position: absolute;
        top: 2px;
        width: 16px;
        height: 16px;
        border: none;
        background-color: transparent;

        &:nth-child(1) {
          right: 26px;
          background-image: url('../../img/arrow-top.png');
        }

        &:nth-child(2) {
          right: 5px;
          background-image: url('../../img/arrow-bottom.png');
        }
      }
    }
  }

  tbody {
    position: relative;

    tr td {
      border-bottom: 1px solid black;
      border-left: 1px solid black;

      button {
        width: 16px;
        height: 16px;
        border: none;
        background-color: transparent;

        &:nth-child(1) {
          background-image: url('../../img/edit.png');
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 50px;
  list-style: none;

  li {
    min-width: 20px;
    height: 20px;
    margin: 10px 5px;
  }
}